* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    text-align: center;
    font-size: min(2vw, 2vh)
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    flex-grow: 1;
    margin: 0 auto;
    width: min(100vw, calc(30vh * 2));
    height: 23vh;
    background-color: #B0C3AB;
    text-align: center;
    background-image: url('images/witcher.jpg');
    background-size: cover;
    color: black;
    font-size: min(2vw, 2vh)
}

#playfield {
    flex-grow: 0;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1px; 
    width: min(100vw, calc(30vh * 2));
    height: 60vh;
    background-color: grey;
    margin: 0 auto;
}

.cell {
    flex-grow: 0;
    width: 95%;
    height: 95%;
    background-color: rgb(177, 173, 173); 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 
    inset 2px -2px 1px rgba(33, 33, 33, 0.6), 
    inset -2px 2px 1px rgba(255, 255, 255, 0.8); 
    
}

#buttons {
    flex-grow: 1;
    margin: 0 auto;
    width: min(100vw, calc(30vh * 2));
    height: 11.25vh;
    background-color: #78b65c;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons button {
    margin: 0 10px;
    width: min(25vw, calc(30vh * 2));
    height: 5.25vh;
    background-color: #e0e0e0;
    cursor: pointer;
    border: 1px solid #b0b0b0;
    font-size: min(3vw, 3vh);
    border-radius: 5px
}

footer {
    margin: 0 auto;
    padding-top: 10px;
    width: min(100vw, calc(30vh * 2));
    height: 4.5vh;
    background-color: #98c2f0;
    font-size: min(2vw, 2vh)
    
}

.cell_symbol1{
    background-image: url('images/symbols.svg');
    background-size: 1000% 100%;
    background-position: 0%;
}

.cell_symbol2{
    background-image: url('images/symbols.svg');
    background-size: 1000% 100%;
    background-position: 11%;
}

.cell_symbol3{
    background-image: url('images/symbols.svg');
    background-size: 1000% 100%;
    background-position: 22%;
}

.cell_symbol4{
    background-image: url('images/symbols.svg');
    background-size: 1000% 100%;
    background-position: 33%;
}

.symbol5{
    background-image: url('images/symbols.svg');
    background-size: 1000% 100%;
    background-position: 44%;
}

.cell_symbol6{
    background-image: url('images/symbols.svg');
    background-size: 1000% 100%;
    background-position: 55%;
}

.cell_symbol7{
    background-image: url('images/symbols.svg');
    background-size: 1000% 100%;
    background-position: 66%;
}

.cell_symbol8{
    background-image: url('images/symbols.svg');
    background-size: 1000% 100%;
    background-position: 77%;
}

.cell_symbol9{
    background-image: url('images/symbols.svg');
    background-size: 1000% 100%;
    background-position: 88%;
}

.cell_symbol10{
    background-image: url('images/symbols.svg');
    background-size: 1000% 100%;
    background-position: 100%;
}

.cell_shadow {
    width: 92%;
    height: 92%;
    background-color: lightgray;
}



